{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> home page</title>
    <link rel="stylesheet" href="{% static "locator/index.css" %}" >
    <script src="{% static "locator/populateForm.js" %}"></script>
    <script src="{% static "locator/jquery-3.2.1.min.js" %}"></script>
</head>

<body>
    <div id = "header"> 
        <h1>APDMP Project Location</h1>   
    </div>
    <div id = "side"> 
        <input type="radio"  name="type" onclick="changeRadio(this);" value="0" checked>Mandals
        <input type="radio" name="type" onclick="changeRadio(this);" value="1">Villages
        <br><br><br>
        District: 
        <select name="district" id="district">
            <option value="">None</option>
        </select><br><br>
        Mandal: <select name="mandal" id="mandal">
            <option value="">None</option>
        </select><br><br>
        Village: <select name="village" id="village" disabled>
            <option value="">None</option>
        </select> <br><br><br><br>
        LFA: <select name="lfa" id="lfa">
            <option value="">None</option>
        </select><br><br>
        FA: <select name="fa" id="fa">
            <option value="">None</option>
        </select><br><br>

        <button id="sub">submit</button>
        <button id="reset">reset</button>

    </div>
    <div id = "main">
        <div id="map"></div>
    </div>
</body>

<script>
    var jsonString = "{{ to_send | safe }}";
    jsonString = jsonString.replace(/'/g, '"');
    jsonObject = JSON.parse(jsonString); 
    
    var districts = jsonObject.districts;
    var lfas = jsonObject.lfa; 

    populateDistricts(districts);
    
    var district_node = document.getElementById('district');
    district_node.onchange = function() {
        populateMandals(districts[this.value]);
        populateVillages([]);
    };

    var mandal_node = document.getElementById('mandal');
    mandal_node.onchange = function() {
        var district_node_value = document.getElementById('district').value;
        populateVillages(districts[district_node_value][this.value]);
    };

    populateLFA(lfas);

    var lfa_node = document.getElementById('lfa');
    lfa_node.onchange = function() {
        populateFA(lfas[this.value]);
    };

    function changeRadio(rad) {
        if (rad.value == '0') {
            document.getElementById('village').disabled = true;
            document.getElementById('village').value = "";
        } else {
            document.getElementById('village').disabled = false;
        }
    }

    csrf_token = '{{csrf_token}}';

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpnHNZ7rQNVICgFljR277UJ1gG7MNkais"></script>
<script src="{% static "locator/maplabel.js" %}"></script>
<script src="{% static "locator/map.js" %}"></script>
<script>
    google.maps.event.addDomListener(window, 'load', initMap);
</script>


